<mat-card>
    <mat-card-title>Cadastrar Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            required
            [(ngModel)]="cliente.nome" name="nome" #nome="ngModel">
            <div [hidden]="nome.valid || nome.pristine"
                class="alert alert-danger">
                Nome é obrigatório!
            </div>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" #cpf="ngModel"
            required
            [(ngModel)]="cliente.cpf" name="cpf"
            mask= "000.000.000-00">
            <div [hidden]="cpf.valid || cpf.pristine"
                class="alert alert-danger">
                CPF é obrigatório!
            </div>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="criarCliente()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button routerLink="/">
        Cancelar
    </button>
</mat-card>
